<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Timestamp Microservice</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/main.css">
    </head>
    <body>
        <div id="nav">
            <span><a href="https://github.com/r-pr">r-pr</a></span> / 
            <span><a href="https://github.com/r-pr/fcc-timestampgi">fcc-timestamp</a></span> /
            <span><b>README.md</b></span>
        </div>
        <div id="content">
            <placeholder/>
        </div>
    </body>
</html>